@import 'tailwindcss';
@import '@fontsource/quicksand/400.css';
@import '@fontsource/oxygen/400.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Quicksand', sans-serif;
  --font-oxygen: 'Oxygen', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
